:root {
  --padding-screen: 0 150px;
  --content-above-width:48%;
  --img-above-position:sticky;
}

@media screen and (max-width: 1224px) {
  :root {
    --padding-screen: 0 calc(7px + 5vw);
    --content-above-width:48%;
  }
}

@media screen and (max-width: 960px) {
  :root {
    --img-above-height:auto;
    --padding-screen: 0 calc(7px + 5vw);
    --fd-content-above:row;
    --img-above-position:sticky;
  }
}

@media screen and (max-width: 640px) {
  :root {
    --content-above-width:100%;
    --fd-content-above:column-reverse;
    --img-above-height:300px;
    --img-above-position:unset;
  }
}

.Aboutus {
  padding: var(--padding-screen);
  height: auto;
  margin: auto;
  line-height: 1.5rem;
}
.aboutUs-title {
  margin: 2rem auto 2rem;
  text-align: center;
  font-size: calc(23px + 6 * ((100vw - 320px) / 680));
  font-weight: bold;
}
.content-above {
  width: 100%;
  display: flex;
  flex-direction: var(--fd-content-above);
  justify-content: space-around;
  margin: 2rem auto;
}
.content {
  text-align: justify;
  font-size: calc(13px + 6 * ((100vw - 320px) / 680));
}
.content-above .content {
  width: var(--content-above-width);
}
.content-above .img-content {
  width: var(--content-above-width);
  position: relative;
}
.content-above .img-content img {
  width: 100%;
  height: auto;
  height: var(--img-above-height);
  position: var(--img-above-position);
  position: -webkit-sticky;
  top: 0.5rem;
  border: 2px black solid;
}
.content-below .img-content {
  width: 100%;
  height: auto;
  margin: 2rem auto;
}

.content-below .img-content img {
  width: 100%;
  height: auto;
  top: 0.5rem;
  border: 2px black solid;
}

.content-below .content {
  width: 100%;
  margin: 2rem auto;
}
.rule-in-work .content {
  width: 100%;
  margin-bottom: 2rem;
}
.certificate {
  margin: 3% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.certificate img {
  height: 100vh;
  width: auto;
}