.N-container {
    height: auto;
    width: 1080px;
    margin: 2rem auto;
}

.N-layout {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2rem;

}

.N-map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.N-map iframe {
    width: 100%;
    height: 400px;
}
.N-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    color: black;
    font-size: 1.1rem;
}
.N-field:focus, .N-field:hover {
    box-shadow: 5px 5px rgba(0, 0, 0,0.1);
}
.N-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px transparent solid;
    border-radius: 1.2rem;
    background-color: antiquewhite;
    cursor: pointer;
    padding: 10px 20px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
    color: #784949;
    font-size: 1.1rem;
}
.N-submit:hover{
    border: 2px black solid;
}