:root {
    --fd-contact-layout:row;
    /* --form-contact-width: 40%; */
    --map-iframe-height:100%;
}

@media screen and (max-width: 1224px) {
    :root {
        --fd-contact-layout:row;
        --form-contact-width: 40%;
        --map-iframe-height:100%;
    }
}
/* 
@media screen and (max-width: 960px) {
    :root {
        
    }
} */

@media screen and (max-width: 640px) {
    :root {
    --fd-contact-layout:column;
    --form-contact-width:100%;
    --map-iframe-height:300px;
    }
}



.N-layout {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: var(--fd-contact-layout);
    justify-content: space-between;
    gap: 2rem;
    margin: 3rem auto;
}

.N-map {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.N-map iframe{
    width: 100%;
    height: var(--map-iframe-height);
}
.N-form-contact{
    width: var(--form-contact-width);
}
.form-contact {
    /* width: 35%; */
}
.N-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    color: black;
    font-size: 1.1rem;
}
.N-field:focus, .N-field:hover {
    box-shadow: 5px 5px rgba(0, 0, 0,0.1);
}
.N-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px transparent solid;
    border-radius: 1.2rem;
    background-color: antiquewhite;
    cursor: pointer;
    padding: 10px 20px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
    color: #784949;
    font-size: 1.1rem;
}
.N-submit:hover{
    border: 2px black solid;
}