table {
        table-layout: fixed;
    }

    th,
    td {
        padding: 10px 10px;
    }

    thead {
        background: #f9f9f9;
        display: table;
        width: 100%;
        /* width: calc(100% - 18px); */
    }

    tbody {
        height: 600px;
        overflow: auto;
        display: block;
        width: 100%;
    }

    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    thead th {
        color: black;
    }

    .status {
        text-decoration: none;
        color: white;
        transition: all 0.5s;
    }

    .order-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        padding: 30px 10px 30px 10px;
        color: #252c30;
    }

    .order-bottom a {
        text-decoration: none;
        font-size: 100%;
        color: white;
        transition: all 0.5s;
    }

    .order-bottom a:hover {
        transform: scale(1.2);
    }