:root {
    --fd-qaa-layout: row;
    --form-contact-width: 48%;
    --padding-screen: 0 150px;
}

@media screen and (max-width: 1224px) {
    :root {
        --fd-qaa-layout: row;
        --form-contact-width: 48%;
        --padding-screen: 0 35px;
    }
}

@media screen and (max-width: 960px) {
    :root {
        --padding-screen: 0 calc(7px + 5vw);
    }
}

@media screen and (max-width: 640px) {
    :root {
        --fd-qaa-layout: column;
        --form-contact-width: 100%;
    }
}
/*----------------------------Hạnh---------------------------------------------------*/
.h-content {
    display: flex;
    flex-direction: var(--fd-qaa-layout);
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: var(--padding-screen);
    margin: 1rem auto;
    font-size: 125%;
}
.img-content{
    width: var(--form-contact-width);
}
.h-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
    border: 2px solid black;
}

.h-questions {
    width: var(--form-contact-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-accordion .h-container {
    position: relative;
    margin: 10px 10px;
}


/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.h-accordion .h-label {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    text-align: left;
}


/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.h-accordion .h-label::before {
    content: '+';
    font-weight: bold;
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}


/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.h-accordion .h-text {
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}


/* Adds a horizontal line between the contents */

.h-accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
}


/* Unhides the content part when active. Sets the height */

.h-accordion .h-container.h-active .h-text {
    height: auto;
    background-color: #E9D3BC;
    padding: 4%;
}


/* Changes from plus sign to negative sign once active */

.h-accordion .h-container.h-active .h-label::before {
    content: '-';
}
