:root {
    --padding-screen: 0 150px;
    --column-content:1fr 1fr 1fr 1fr;
    --radius-img:100px;
}

@media screen and (max-width: 1224px) {
    :root {   
        --padding-screen: 0 calc(7px + 5vw);
        --column-content:1fr 1fr 1fr;
        --radius-img:120px;
    }
}

@media screen and (max-width: 960px) {
    :root {
        --padding-screen: 0 calc(7px + 5vw);
        --column-content:1fr 1fr;
        --radius-img:100px;
    }
}

@media screen and (max-width: 640px) {
    :root {
        --column-content:1fr;
        --radius-img:200px;
    }
}
/*----------------------------Hạnh---------------------------------------------------*/
.h-review {
    margin: 2rem auto;
    padding: var(--padding-screen);
    font-size: calc(13px + 6 * ((100vw - 320px) / 680));
}
.h-review h1 {
    font-size: calc(23px + 6 * ((100vw - 320px) / 680));
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
}

.h-content {
    display: grid;
    grid-template-columns: var(--column-content);    
}

.feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 1rem;
}

.feedback-title {
    font-weight: bold;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* font-size: calc(20px + 6 * ((100vw - 320px) / 680)); */
    margin: 0.5rem auto;
}


#h-img {
    width: 100%;
    height: calc(var(--radius-img)*2);
    clip-path: circle(var(--radius-img));
}


/* ----- */

.h-card {
    margin: 1rem auto;
    padding: auto 1rem;
}

.h-card h4 {
    font-weight: bold;
    /* font-size: calc(20px + 6 * ((100vw - 320px) / 680)); */
    margin: 0.5rem auto;
}

.h-card p {
    width: 85%;
}