:root {
    --padding-screen: 0 5vw;
    --content-above-width:48%;
    --content-img-above-width:50%;
    --img-above-position:sticky;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.N-container {
    height: auto;
    padding: var(--padding-screen);
}

.N-title {
    height: auto;
    width: 100%;
    padding: 10px 0;
}

.N-title p {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
    font-weight: bold;
    text-transform: capitalize;
}

.N-layout {
    width: 100%;

}
.story {
    display: flex;
    flex-direction: var(--fd-story);
}
.reverse {
    flex-direction: row-reverse;
}
.N-layout-text-item {
    width: var(--content-above-width);
}

.N-layout-img-item {
    width: var(--content-img-above-width);
    position: relative;
}

.N-img {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    height: var(--img-above-height);
    position: var(--img-above-position);
    position: -webkit-sticky;
    top: 20%;
    left: 50%;
    transform: translate(-50% -50%);
}

.N-text-title {
    margin: 1rem auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.N-text-content {
    margin: 1rem;
    word-wrap: break-word;
    text-align: justify;
    line-height: 1.8rem;
    font-family: 'Source Sans Pro', sans-serif!important;
}

@media screen and (max-width: 1224px) {
    :root {
        --padding-screen: 0 calc(7px + 3vw);
        --content-above-width: 48%;
        --content-img-above-width: 50%;
    }
}

@media screen and (max-width: 960px) {
    :root {
        --img-above-height: auto;
        --padding-screen: 0 calc(7px + 3vw);
        --fd-content-above: row;
        --img-above-position: sticky;
        --fd-story: row;
    }
}

@media screen and (max-width: 640px) {
    :root {
        --content-above-width: 100%;
        --content-img-above-width: 100%;
        --fd-content-above: column-reverse;
        --img-above-height: 300px;
        --img-above-position: unset;
        --fd-story: column;
    }
    .reverse {
        flex-direction: var(--fd-story);
    }
}