@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

body{font-family: 'Lora', serif;}
.N-container {
    height: auto;
    width: 960px;
    margin: 0 auto;
}

.N-title {
    height: auto;
    width: 100%;
    padding: 10px 0;
}

.N-title p {
    text-align: center;
    font-size: 35px;
    margin: 2rem 0;
    font-weight: bold
}

.N-layout {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "d1 d2" "d3 d4";
}

.N-layout-img-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.N-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.N-text-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/* .N-textContent {
    padding: 0 30px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
} */
.N-text-content {
    padding: 30px;
    word-wrap: break-word;
    text-align: justify;
    
}
.N-layout-text-item:nth-child(1) {
    grid-area: d2;
}

.N-layout-text-item:nth-child(2) {
    grid-area: d3;
}

.N-layout-img-item:nth-child(1) {
    grid-area: d1;
}

.N-layout-img-item:nth-child(2) {
    grid-area: d4;
}